html {box-sizing: border-box}
*,*::before,*::after{box-sizing: inherit}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkgray;
}

body:after {
    content: "";
    position: absolute;
    background-image: url("./assets/Mars_surface.png");
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1800px;
    z-index: -5;
    opacity: .3;
}

.fullPage {
    width: 1200px;
    margin: auto;
}

.pageTop {
    position: relative;
    top: 0;
    left: 0;
}

.logo {
    width: 33%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    width: 200px;
    margin: 10px 100px;
}


h2 {
    text-align: center;
    color: rgb(169, 45, 38);
    margin: -5px auto 5px;
}

h3 {
    text-align: center;
    color: rgb(169, 45, 38);
    margin: 15px auto 0;
}

h4 {
    font-size: 18px;
}

.social {
    width: 33%;
    height: 100px;
    position: absolute;
    top: 300px;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.socIcons {
    width: 15%;
    margin:0 5px;

}

.innerPic {
    width: 67%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 33%;
    background-image: url("assets/Tavern.jpeg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;  
    border: solid 10px  rgba(169, 45, 38, .5);
}

.pageBody {
    position: relative;
}

.slideshow-container {
    width: 33%;
    height: 400px;
    padding:  2.5%;
    position: absolute;
    top: 400px;
    left: 0;
  /* border:30px solid rgb(220,220,220,.5); */
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 95%;
    margin: auto;
    border: solid 10px  rgba(169, 45, 38, .5);
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

.tabs {
    width: 67%;
    height: 800px;    
    position: absolute;
    top: 400px;
    left: 0;
}


#accordion {
    position:absolute;
    top: 0;
    left:400px;
    padding: 1.25%;
}

ul {
    list-style:none;
    padding:0;
    width:800px;
    color:black;
    font-size:20px;
}

#accordion li h4 {
    background:rgb(255,255,255,.2);
    color:black;
    padding:10px;
    margin:0;
    border:1px solid transparent;
    font-family: Helvetica;
    font-size:30px;
    height:50px;
    width:800px;
}

#accordion li .content {
    padding: 0 10px;
}

.content {
    height:0;
    overflow:auto;
    transition: height 1s;
}

.content.show {
    height:600px;
}

.menutitles {
    color: rgb(0,0,0,.3)
}

#menu-container .name {
    font-size:30px;
}

#menu-container .price {
    font-size:20px;
}

.hist {
    font-size:20px;
    color:black;
    font-family: 'Arial Narrow Bold';
}

#kitchen {
    width: 70%;
    margin: 0 15%;
}

input {
    font-size:20px;
    color:black;
    outline: none;
    height: 40px;
    width: 200px;
    margin: 25px auto 0;
    border: solid 1px rgb(255,255,255,.2);
}

textarea {
    font-size:20px;
    color:black;
    outline: none;
    margin: 25px auto 0;
}

button {
    font-size:20px;
    color:black;
    background:rgb(255,255,255,.2);
    border: solid 1px rgb(255,255,255,.2);
    margin: 25px auto 0;
    outline: none;
}

.specials {
    width: 33%;
    height: 800px;
    position: absolute;
    top: 800px;
    left: 0;
}


#bratwurst {
    width: 95%;
    margin: 0 auto;
    border: solid 10px  rgba(169, 45, 38,.5);
    box-shadow: inset 0 0 200px black;
}

#cookies {
    width: 95%;
    margin: 0 auto;
    border: solid 10px  rgba(169, 45, 38,.5);
    box-shadow: inset 0 0 200px black;
}

p {
    margin: 25px;
    font-size: 14px;
}

.center {
    text-align: center;
}

hr {
    width: 90%;
    height: 5px;;
    background-color: rgb(169, 45, 38);
    border: none;
    border-radius: 25%;
}

.news {
    width: 33%;
    height: 400px;
    position: absolute;
    top: 1200px;
    left: 33%;
}

.map {
    width: 33%;
    height: 400px;
    position: absolute;
    top: 1200px;
    left: 67%;
}


#map {
    width: 90%;
    height: 150px;
    border: solid 2px  rgb(169, 45, 38);
}

#mars {
    width: 90%;
    height: 150px;
    border: solid 2px  rgb(169, 45, 38);
}






